
@{
    ViewData["Title"] = "AccessDenied";
}

    <head>
        
    </head>
    <body>
        <h1>Oops!</h1>
        <h3>403</h3>
        <p>You do not have permission to access the document or program that you requested.</p>

        <hr />
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary" style="width:auto">Vovler al inicio </a>
    </body>

