
@{
    ViewData["Title"] = "Error";
}

@if (ViewBag.ErrorTitle == null)
{
    <h1 class="text-danger">¡Ups!</h1>
    <h2 class="text-danger">Un error ocurrió al intentar procesar su solicitud.</h2>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
}
<hr />
<a asp-controller="Home" asp-action="Index" class="btn btn-primary" style="width:auto">Vovler al inicio </a>




