
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 Not Found</title>
</head>
<body>
    <div class="alert-danger" style="align-self:center">
        <h1>La página solicitada no fue encontrada</h1>
        <a class="btn btn-danger" style="width:auto" asp-controller="Home" asp-action="Index"> Ir al inicio </a>
    </div>
</body>
</html>
