@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Olvidé mi contraseña";
}

<h2>Recuperar contraseña</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">         
            <div>
                <p>Ingrese su email para poder recuperar su contraseña.</p>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button class="btn btn-primary" type="submit"> Enviar </button>
        </form>
    </div>
</div>



